
<main class="container">
  <h1>Weka App</h1>
  <div class="call-to-action">
    <%= link_to 'Sign Up', new_user_registration_path, class: 'alt-link' %>
    <%= link_to 'Login', user_session_path, class: 'btn' %>
  </div>
</main>