<div class="profile-section">
  <ul class="profile-links">
    <li>
      <img src="../assets/img/vintage_clock.jpeg" alt="profile">
      <p class="name">Kelyn Paul</p>
    </li>

    <li><%= link_to 'Tasks', tasks_path %></li>
    <li><%= link_to  'External Tasks', tasks_path %></li>
    <li><%= link_to 'Groups', groups_path %></li>
  </ul>
</div>